@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@700&display=swap');
*{padding: 0;
margin: 0;
box-sizing: border-box;
}
:root{
   --color_principale:rgb(11, 64, 64);
}
@keyframes updown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}
body{
    height:100vh;
    /* background: linear-gradient(10deg,var(--color2),var(--color1),var(--color10)); */
    font-family: 'Noto Kufi Arabic', sans-serif;
    background:linear-gradient(45deg,cyan,white);
    
}
nav{
    max-width:1250px;
    margin:0 auto;
    padding: 1rem 2rem;
    background: transparent;
    box-shadow: 15px 20px 40px 10px  rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content: space-between;
    gap:1rem;
    align-items: center;
}
.menu{
    display: flex;
    font-size: 1.2rem;
    flex-direction: row-reverse;
    list-style-type:none;
}
nav .logo span{
-webkit-text-fill-color:transparent;
-webkit-text-stroke:1px white;
font-size: 1.4rem;
}
ul li{
    margin:0 1.5rem;
}
.menu li a{
    text-decoration: none;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    transition:all 0.5s ease;
}
.logo2{
    visibility: hidden;
}
a::before{
    content:"";
    height:2px;
    width: 0;
    position:absolute;
    background-color: white;
    top:35px;
    transition:all 0.5s ease;
}
.menu li:hover a::before{
    width:100%;
}
a{
    text-decoration: none;
    color: black;
}
/* logo */
.logo a{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo a span{
    color: white;
    margin: 0;
    padding: 0;
}
.logo .logo-icon{
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
}
/* search */
.search{
    width:600px;
    margin: 0 2rem;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.search input{
    width: 100%;
    height: 100%;
    font-size:1.5rem;
    padding: 0 10px;
    border-radius: 10px;
    border: none;
    outline: none;   
    box-shadow: 15px 20px 40px 10px  rgba(0, 0, 0, 0.2);
}
.div-icon-search{
    width:30px ;
    height: 95%;
    position:absolute;
    left:5px;
    display: flex;
    align-items: center;
    background-color: white;
}
.search .icon-search{
    font-size: 2rem;
}
/* menu2 */
.menu2{
    display:flex;
    list-style-type: none;
    font-size: 1.4rem;
}
.menu2 li{
    margin:0 1rem;
}
.menu2 li a{
   color: black;
   text-decoration: none;
}
.login span{
    position:absolute;
    top:25px;
    opacity:0;
    transition:all 0.3s ease;
    font-size:1rem;
    color: white;
}
.login a{
    position: relative;
    display: flex;
    justify-content: center;
}
.login a:hover span{
    opacity:1;
}
.login-icon{
font-size: 2rem;
}
/* toggle */
.toggle-search{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.toggle-search .search-cancel *{
position: absolute;
font-size: 1.6rem;
cursor: pointer;
color: white;
}
.search-cancel{
    width: 40px;
    height: 40px;
    visibility: visible;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-search .search-cancel .toggle-icon-cancel{
 opacity: 0;
 pointer-events: none;
 transition: all 0.4s ease;
}
.toggle-search .search-cancel.active .toggle-icon-search{
 opacity: 0;
 pointer-events: none;
 transition: all 0.4s ease;
}
.toggle-search .search-cancel.active .toggle-icon-cancel{
    opacity: 1;
    pointer-events: auto;
}
   /* search1600px */
.toggle-search .search1600px{
position: absolute;
width: 300px;
height: 2rem;
top: 75px;
right: 4px;
display: flex;
justify-content: center;
align-items: center;
opacity:0;
transition: all 0.4s ease;
}
.toggle-search .search1600px input{
    width: 90%;
    height: 100%;
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding: 5px;
    border-radius:5px 0px 0px 5px;
}
.toggle-search .search1600px .search1600px-icon{
   width: 10%;
   height: 100%;
   background-color: white;
   display: flex;
justify-content: center;
align-items: center;
font-size: 1.3rem;
position: relative;
border-radius: 0px 5px 5px 0px;
}
.search1600px.active{
    opacity: 1;
}
.search1600px::before{
content:"";
background-color: #FFFFFF;
height:10px;
width: 10px;
position: absolute;
top: -5px;
transform: rotate(45deg);
z-index: -1;
right: 10px;

}
/* burger */
.burger-div{
    visibility: hidden;
}
.burger-div .burger-icon{
font-size: 2rem;
color: black;
cursor: pointer;
}
.section1{
    max-width:1200px;
    margin:1rem auto;
    padding: 1rem 2rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 80vh;
}
.content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin:auto;
    width: 100%;
}
.section1 .time_of_prayer{
padding:0.5rem 1rem;
margin:0 auto;
text-align: center;
width: 100%;
border-radius: 10px;
}

.time_of_prayer .serch-section1{
    margin: 0 auto;
    max-width:300px;
    color: white;
}
.time_of_prayer .serch-section1 input{
    background-color: transparent;
    padding:0.5rem 1rem;
    border-radius:8px;
    font-size: 1.4rem;
    outline: none;
    width: 100%;

}
.prayer h1{
text-transform: uppercase;
}
.prayer{
    text-align: center;
    width: 100%;
}
.prayer ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:0.5rem;
    list-style-type: none;
align-items: center;
width:100%;
}
.prayer ul li {
    color: white;
    font-weight: 600;
    background-color: white;
    padding: 8px;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 15px 20px 40px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    transition:all 1s ease-in-out;

}
.content .animation{
    margin: auto;
}
.content .animation img{
animation: updown 1.6s infinite ease-in-out;
}
@media (width<1117px) {
    .menu2 .login{
        display: none;
    }
}
@media (width<828px) {
    .menu{
        display: none;
    }
    .content{
        grid-template-columns: repeat(1,1fr);
    }
    .animation{
        grid-area: 1/1/2/2;
    }
    
}
@media (width<525px) {
    .prayer ul li{
        max-width:300px;
    }
}
.section2{
    max-width: 1200px;
    margin:1rem auto;
    text-align: center;
}
.section2 .story{
    width: 1000px;
    height: 500px;
    margin: auto;
    transition: all 1s ease-in-out;
    box-shadow: 15px 20px 40px 10px  rgba(0, 0, 0, 0.2);
}
.section2 .story:hover{
    transform:rotateY(13deg)
}